.leaflet-tooltip.label {
  color: #fff;
  background-color: #0000;
  border: none;
  box-shadow: none;
  padding: 0px;
}

#map-container {
  position: relative;
  max-width: 1400px;
  gap: 10px;
}

#map {
  width: 100%;
  aspect-ratio: 14 / 6;
  max-height: 600px;
  border-radius: 8px;
}

#info-container.hidden {
  display: none;
}

#info-container {
  display: block;
  position: absolute;
  z-index: 1000 !important;
  right: 10px;
  top: 10px;
  height: 300px;
  width: 400px;
  background: lightgray;
  border-radius: 8px;
}

#info-close {
  float: right;
}
